.Chamenu{ 
    margin:6px;float: left;
    height: 538px;width:820px;border:2px solid rgba(255, 255, 255, 0.7);border-radius: 8px 8px 8px 8px;  
    overflow: scroll;
    overflow-x: hidden;padding-top: 12px;padding-bottom: 12px;
}
